body {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-style: solid; */
  flex-direction: column;
  background-color: blueviolet;
  /* border-radius: 15px; */
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  text-align: center;
  color: azure;
}

.top-title {
  font-family: "Press Start 2P", cursive;
  font-size: 48px;
}

.timer {
  background-color: crimson;
  padding: 10px;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
}

.board {
  margin: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-style: solid;
  border-color: chartreuse;
  height: 34em;
  width: 44em;
  /* background-color: darkgreen; */
  background-image: url(./assets/grass2.png);
}

.mole {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
  height: auto;
  width: auto;
  border-style: solid;
  border-color: greenyellow;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#the-score {
  padding-top: 5px;
  color: gold;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
}

.start-btn {
  font-size: 30px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: "Press Start 2P", cursive;
  color: aliceblue;
  background-color: crimson;
  border-radius: 5px;
  border-style: none;
}

.start-btn:hover {
  background-color: goldenrod;
  padding: 13px 13px;
}

.mole-asst {
  height: 150px;
  width: 150px;
}

.landing-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  font-family: "Press Start 2P", cursive;
  color: azure;
  height: 34em;
  width: 45em;
  margin-top: 10em;
  border-radius: 5em;
  border-style: solid;
  border-color: azure;
}

#instructions {
  text-align: center;
  font-size: 12px;
  width: 35em;
  line-height: 25px;
}

.github-space {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2em;
}
.github {
  width: 40px;
  margin-right: 15px;
}
